@charset "UTF-8";


/*------------Mobile - Menu----------------*/

@media screen and (max-width: 960px) {
    .nav-bar {
        display: inline;
        text-align: center;
        margin: auto;
        padding: auto;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: auto;
    }
    

    .logo h1{
        color: black;
        font-size: 3em;
        margin: 5px;
        padding: 5px;
    }

    .nav-itens {
        display: none;
    }

    .nav-link {
        font-size: 1rem;
        color: black;
    }

    .nav-link:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.664);
        padding: 5px;
        margin: auto;
        border-radius: 5px;
    }

    .nav-redes {
        display: inline-flex;
        text-align: center;
    }

    .nav-redes img {
        width: 7vw;
    }


    .material-symbols-outlined {
        display: inline-flex;
    }

    .material-symbols-outlined {
        background-color: transparent;
        border: none;
        color: black;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-itens {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;

    }

    /*--------------Minha Apresentação-----------------*/

    #img-apresentacao{
        height: 40vh;
        padding: 20px;
    }

    #img-apresentacao p {
        font-size: 1.5em;
        font-weight: bolder;
        font-style: italic;
        text-align: center;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.993);
        padding: auto;
        margin: auto;
        margin-left: 20px;
    }

    /*------------------Sobre Mim---------------*/

    #sobre h2 {
        font-size: 1.4em;
    }

    #sobre p {
        font-size: 1.3em;
    }

    /*-------------------Projetos----------------*/

    .h2-projetos {
        font-size: 2em;
    }

    .projetos{
        height: 26vh;
    }

    .a-projetos {
        font-size: 1em;
        margin: 10px 0px;
    }

    .img-projetos {
        height: 16vh;
        margin: auto;
        padding: auto;
    }

    .p-pojetos{
        text-align: center;
        margin: 5px;
        font-size: 12.5px;
    }

    #btnVerMais {
        font-size: 1em;
    }

    /*------------Contatos-------------*/

    .cont-list {
        margin: auto;
    }
  
    .cont-list img {
        display: inline;
        width: 7vw;
        margin: 20px;
        padding: 0px;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.432);
    }

    .cont-list img:hover {
        box-shadow: 2px 2px 5px black;
    }
}